<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
   <%- include("./partials/navbar") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
</head>
<body>
    
   <div>
    <form action="/user/signin" method="post">
        <div class="mb-3 m-3 mt-5">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         
        </div>
        <div class="mb-3 m-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="btn btn-primary m-3">Submit</button>
      </form>

   </div>

    <%- include("./partials/script") %>
</body>
</html>